<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.yzl.db.mapper.FmtCodeMapper"> -->
<mapper namespace="FmtCodeMapper">
	<sql id="COL_BASE">
		UUID,
		TRAN_CODE, MSG_SEQ, REQUEST_TIME,
		RESPONSE_TIME, FLAG,
		STATUS,
		DIFF_RESULT,DIFF_INFO
	</sql>
	<sql id="COL_TRAN">
		UUID,
		TRAN_CODE as tranCode, MSG_SEQ as msgSeq, REQUEST_TIME
		as requestTime,
		RESPONSE_TIME as responseTime, FLAG,
		STATUS,
		DIFF_RESULT
		as
		diffResult,
		DIFF_INFO as diffInfo
	</sql>
	<insert id="insert" parameterType="FmtCode">
		insert into H_FMT_CODE (UUID,
		TRAN_CODE, MSG_SEQ, REQUEST_TIME,
		RESPONSE_TIME, FLAG,
		STATUS,
		DIFF_RESULT,DIFF_INFO)
		values (#{uuid}, #{tranCode}, #{msgSeq},
		#{requestTime},
		#{responseTime},#{flag}, #{status},
		#{diffResult},#{diffInfo})
	</insert>
	<!-- 查询共有多少种交易码，用来生成线程，每个交易码对应一个线程 -->
	<select id="selectDistinTranCode" resultType="string">
		select tran_code
		from h_fmt_code group by tran_code
	</select>
	<!-- 查询指定条数的没有比对的报文 -->
	<select id="selectByTranCode" parameterType="map" resultType="FmtCode">
		select
		<include refid="COL_TRAN" />
		from h_fmt_code where tran_code = #{tranCode} and status = #{status}
		limit
		#{beginNo},#{qryNum}
	</select>
	<!-- 修改比对后的状态为已经比对，和有没有异同 -->
	<update id="updateStatus" parameterType="FmtCode">
		update h_fmt_code set
		status = #{status},diff_result = #{diffResult},diff_info=#{diffInfo}
		where uuid = #{uuid}
	</update>
	<!-- 没有配置比对交易规则的修改 -->
	<update id="updateNoRules" parameterType="string">
		update h_fmt_code set
		diff_info= '没有配置比对规则' where tran_code = #{tranCode}
	</update>
	<!-- 获取最大的报文编号，用来排序 -->
	<select id="selectMaxMsgSeq" resultType="int">
		select Max(msg_seq) as
		msgSeq from h_fmt_code ;
	</select>
	<!-- 回放报文查询 -->
	<select id="selectReplayList" parameterType="map" resultType="FmtCode">
		select
		<include refid="COL_TRAN" />
		from h_fmt_code where flag = '0' order by ${orderRule}
		limit
		#{beginNo},#{qryNum}
	</select>
	<!-- 修改已经发送到核心的状态 -->
	<update id="updateHostFlag" parameterType="FmtCode">
		update h_fmt_code set
		flag =#{flag} where uuid =#{uuid}
	</update>
</mapper>